<div id="<%= dom_id impression %>">
  <p>
    <strong>Company:</strong>
    <%= impression.company_id %>
  </p>

  <p>
    <strong>Impression type:</strong>
    <%= impression.impression_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= impression.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= impression.value %>
  </p>

</div>
