<div id="<%= dom_id lead_saa %>">
  <p>
    <strong>Name:</strong>
    <%= lead_saa.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lead_saa.email %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= lead_saa.company_name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= lead_saa.source %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= lead_saa.stage %>
  </p>

  <p>
    <strong>Captured at:</strong>
    <%= lead_saa.captured_at %>
  </p>

</div>
