<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location %>
  </p>

  <p>
    <strong>Price range:</strong>
    <%= company.price_range %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= company.website_url %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= company.contact_email %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= company.contact_phone %>
  </p>

</div>
