<div id="<%= dom_id product_access %>">
  <p>
    <strong>Member:</strong>
    <%= product_access.member_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product_access.product_name %>
  </p>

  <p>
    <strong>Access level:</strong>
    <%= product_access.access_level %>
  </p>

  <p>
    <strong>Granted at:</strong>
    <%= product_access.granted_at %>
  </p>

  <p>
    <strong>Revoked at:</strong>
    <%= product_access.revoked_at %>
  </p>

</div>
