<div id="<%= dom_id sponsored_product %>">
  <p>
    <strong>Company:</strong>
    <%= sponsored_product.company_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= sponsored_product.product_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= sponsored_product.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= sponsored_product.end_date %>
  </p>

  <p>
    <strong>Price paid:</strong>
    <%= sponsored_product.price_paid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sponsored_product.status %>
  </p>

</div>
