<p style="color: green"><%= notice %></p>

<%= render @sponsored_product %>

<div>
  <%= link_to "Edit this sponsored product", edit_sponsored_product_path(@sponsored_product) %> |
  <%= link_to "Back to sponsored products", sponsored_products_path %>

  <%= button_to "Destroy this sponsored product", @sponsored_product, method: :delete %>
</div>
