<div id="<%= dom_id review %>">
  <p>
    <strong>Company:</strong>
    <%= review.company_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= review.date %>
  </p>

</div>
