<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= member.role %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= member.company_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member.status %>
  </p>

  <p>
    <strong>Joined at:</strong>
    <%= member.joined_at %>
  </p>

</div>
